@charset "utf-8";
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,lengend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;-webkit-tap-highlight-color:transparent}
article,aside,audio,details,figcaption,figure,footer,header,hgroup,mark,menu,nav,section,summary,time,video{display:block;margin:0;padding:0;-webkit-tap-highlight-color:transparent}
embed,object{outline:0}
del{text-decoration:line-through}
em{font-style:normal}
textarea{resize:none}
i{vertical-align:middle}
ol,ul{list-style:none}
a{text-decoration:none}
a:active,a:hover,a:link,a:visited{color:#333;text-decoration:none}
legend{color:#000}
table{border-collapse:collapse;border-spacing:0}
button,input,select,textarea{outline:0;font-size:100%}
button,textarea{border:0}
fieldset,img{border:0}
input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{margin:0;-webkit-appearance:none!important}
::-moz-selection{background-color:#0097fd;text-shadow:none;color:#fff}
::selection{background-color:#0097fd;text-shadow:none;color:#fff}
:focus{outline:0}
.main-m{margin:0 auto;width:1200px}
.fl{float:left}
.fr{float:right}
/* 清除浮动方式1 */
.fix1{position:relative;overflow:hidden;zoom:1}
/* 清除浮动方式2 */
.clearfix{clear:both}
/* 在对块级元素转内联块级且不设宽高内边高距外边高距值的情况下兼容ie用于保持其内联特性 */
.fix2{display: inline-block;*display: inline}
/* 兼容ie透明度 */
.opa0{filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0}
.opa1{filter:alpha(opacity=10);-moz-opacity:.1;-khtml-opacity:.1;opacity:.1}
.opa2{filter:alpha(opacity=20);-moz-opacity:.2;-khtml-opacity:.2;opacity:.2}
.opa3{filter:alpha(opacity=30);-moz-opacity:.3;-khtml-opacity:.3;opacity:.3}
.opa4{filter:alpha(opacity=40);-moz-opacity:.4;-khtml-opacity:.4;opacity:.4}
.opa5{filter:alpha(opacity=50);-moz-opacity:.5;-khtml-opacity:.5;opacity:.5}
.opa6{filter:alpha(opacity=60);-moz-opacity:.6;-khtml-opacity:.6;opacity:.6}
.opa7{filter:alpha(opacity=70);-moz-opacity:.7;-khtml-opacity:.7;opacity:.7}
.opa8{filter:alpha(opacity=80);-moz-opacity:.8;-khtml-opacity:.8;opacity:.8}
.opa9{filter:alpha(opacity=90);-moz-opacity:.9;-khtml-opacity:.9;opacity:.9}
.opa10{filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1}
.trans1{-webkit-transition:all .3s cubic-bezier(.215,.61,.355,1) 0s;-moz-transition:all .3s cubic-bezier(.215,.61,.355,1) 0s;-o-transition:all .3s cubic-bezier(.215,.61,.355,1) 0s;transition:all .3s cubic-bezier(.215,.61,.355,1) 0s;-ms-transition:all .4s cubic-bezier(.215,.61,.355,1) 0s}
.sal1:hover{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);-ms-transform:scale(1.1)}
.tslr1:hover{-webkit-transform:translateX(6px);-moz-transform:translateX(6px);-o-transform:translateX(6px);transform:translateX(6px);-ms-transform:translateX(6px)}
.tslt1:hover{-webkit-transform:translateY(-6px);-moz-transform:translateY(-6px);-o-transform:translateY(-6px);transform:translateY(-6px);-ms-transform:translateY(-6px)}
@-webkit-keyframes a1{0%{-webkit-transform:scale(1)}
10%,20%{-webkit-transform:scale(.7) rotate(-3deg)}
30%,50%,70%,90%{-webkit-transform:scale(1.2) rotate(3deg)}
40%,60%,80%{-webkit-transform:scale(1.2) rotate(-3deg)}
100%{-webkit-transform:scale(1) rotate(0)}
}
@-moz-keyframes a1{0%{-moz-transform:scale(1)}
10%,20%{-moz-transform:scale(.7) rotate(-3deg)}
30%,50%,70%,90%{-moz-transform:scale(1.2) rotate(3deg)}
40%,60%,80%{-moz-transform:scale(1.2) rotate(-3deg)}
100%{-moz-transform:scale(1) rotate(0)}
}
.ani1:hover{-webkit-animation:a1 1s .2s ease both;-moz-animation:a1 1s .2s ease both}
.scrollbar1::-webkit-scrollbar {width:4px;height:4px}
.scrollbar1::-webkit-scrollbar-thumb {border-radius:5px;-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,.2);background:rgba(0,0,0,.2)}
.scrollbar1::-webkit-scrollbar-thumb:hover {background:rgba(0,0,0,.3)}
.scrollbar1::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.2);border-radius: 0;background: rgba(0,0,0,.1)}
.scrollbar2::-webkit-scrollbar {width:4px;height:8px}
.scrollbar2::-webkit-scrollbar-thumb {border-radius:5px;-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,.2);background:rgba(0,0,0,.2)}
.scrollbar2::-webkit-scrollbar-thumb:hover {background:rgba(0,0,0,.3)}
.scrollbar2::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.2);border-radius: 0;background: rgba(0,0,0,.1)}
@media screen and (min-width:0\0){
}
@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
}
@media \0screen{
    .iebor{border: 1px solid #b9bbbe!important}
    .iebor:hover{border-color: #f0f0f0!important}
}
@media screen\9{
    .iebor{border: 1px solid #b9bbbe!important}
    .iebor:hover{border-color: #f0f0f0!important}
}
.clearfix1{*overflow: hidden; *zoom: 1}
.clearfix1:after,.clearfix1:before{content:"";display: table}
.clearfix1:after{clear: both}
/*
*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
*/